* {
  font-weight: 500 !important;
}

[data-bs-theme="dark"] .navbar {
  background-color: #343a40; /* Dark background */
}

[data-bs-theme="dark"] .navbar .navbar-brand,
[data-bs-theme="dark"] .navbar .nav-link {
  color: #ffffff; /* White text */
}

[data-bs-theme="dark"] .navbar .nav-link:hover {
  color: #ffc107; /* Gold text on hover */
  background-color: #495057; /* Darker background on hover */
  border-radius: 8px; /* Rounded corners on hover */
}

[data-bs-theme="dark"] .navbar .nav-link.active {
  border-bottom: 4px solid #ffc107; /* Gold bottom border for active link */
}

[data-bs-theme="light"] .navbar {
  background-color: #f8f9fa; /* Light background */
}

[data-bs-theme="light"] .navbar .navbar-brand,
[data-bs-theme="light"] .navbar .nav-link {
  color: #343a40; /* Dark text */
}

[data-bs-theme="light"] .navbar .nav-link:hover {
  color: black; /* Gold text on hover */
  background-color: #E1EBEE; /* Lighter background on hover */
  border-radius: 8px; /* Rounded corners on hover */
  font-weight: 600;
}

[data-bs-theme="light"] .navbar .nav-link.active {
  border-bottom: 4px solid #343a40; /* Dark bottom border for active link */
}

.navbar .nav-item {
  margin: 0 5px;
  padding: 0 5px;
}

.navbar .nav-item a {
  padding: 5px 10px;
}